
<div class="classic">
  <h1>Lançamento</h1>
  <form class="example-container" [formGroup]="lancamentoFormGroup">
    <div class="radios">
      <label>Tipo: </label>
      <div class="rad" >      
        <mat-radio-group formControlName="tipoLancamento">
          <mat-radio-button *ngFor="let lancamento of tiposDeLancamento" [value]="lancamento"> {{ lancamentoEnumParaTexto(lancamento) }} </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
      <div class="row"> 
        <div class="col-lg-6 col-md-12">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Angular forms" formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-12">
            <mat-form-field>
              <input matInput  formControlName="valor" placeholder="Valor" type="number" class="example-right-align"  >
              <span matPrefix>R$&nbsp;</span>
            </mat-form-field>
        </div>
    </div>

    <mat-form-field >
      <textarea matInput placeholder="Descrição" formControlName="descricao"></textarea>
    </mat-form-field>

    <mat-form-field >
      <mat-select  formControlName="categoria" placeholder="Categoria">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria"> {{ categoria.nome }} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select  formControlName="responsavel" placeholder="Responsavel">
        <mat-option *ngFor="let responsavel of responsaveis" [value]="responsavel"> {{ responsavel.nome }} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <mat-select  formControlName="conta" placeholder="Conta">
        <mat-option *ngFor="let conta of contas" [value]="conta"> {{ conta.nome }} </mat-option>
      </mat-select>
    </mat-form-field>
   
    <mat-form-field  *ngIf="isTransferencia()" >
      <mat-select  formControlName="contaDestino" placeholder="Conta Destino">
        <mat-option *ngFor="let conta of contas" [value]="conta"> {{ conta.nome }} </mat-option>
      </mat-select>
    </mat-form-field>
    
    <div class="bot">
      <button mat-stroked-button (click) = "onNoClick()">Cancelar</button>
      <button mat-stroked-button [mat-dialog-close]="onSalvar()">Salvar</button>
    </div>
  </form>
</div>