<mat-sidenav-container class="containerr">
  <mat-sidenav #sidenav mode='side' [opened]="true">
    <div style="height: 103px; padding-top: 20%">
      <div class="imagem"></div>
     
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>date_range</mat-icon>
        <a matLine href="lancamentos">Lançamentos</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Controle Financeiro</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip={{currentUserName}}>
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #userMenu="matMenu">
  <a mat-menu-item href="/profile">Perfil</a>
  <a mat-menu-item href="/help">Ajuda</a>
  <a mat-menu-item (click)="logout()">Sair</a>
</mat-menu>
