.containerr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spacer {
  flex: 1 1 auto;
}

.imagem{
  background-image: url(img/imagemLogo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70px;
  width: 100px;
  margin-left: 38px;
  margin-top: -8%;
}