<mat-card class="mat-elevation-z8">
  <mat-grid-list cols="5" rowHeight="150px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class='filtro'>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Descrição/Categoria">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="filtro filtro-transacao-section" appearance="fill">
        <mat-label>Responsáveis</mat-label>
        <mat-select multiple [(ngModel)]="responsaveisFiltrados">
          <mat-option *ngFor="let responsavel of responsaveis" (click)="atualizarResponsaveisEContas()" [value]="responsavel">
            {{ responsavel.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="filtro filtro-transacao-section" appearance="fill">
        <mat-label>Tipos de Transação</mat-label>
        <mat-select multiple [(ngModel)]="tipoTransacoesFiltradas">
          <mat-option *ngFor="let tipoTransacao of tipoTransacoes" (click)="atualizarDataSource()" [value]="tipoTransacoesEnum[tipoTransacao]">
            {{ tipoTransacoesEnum[tipoTransacao] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="filtro filtro-transacao-section" appearance="fill">
        <mat-label>Contas</mat-label>
        <mat-select multiple [(ngModel)]="contasFiltrados">
          <mat-option *ngFor="let conta of contas" (click)="atualizarDataSource()" [value]="conta">
            {{ conta.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="filtro-data-section">
        <mat-form-field class="filtro-data-section">
          <input matInput placeholder="Data inicial" [(ngModel)]="dataInicial" [matDatepicker]="pickerInicial" (dateChange)="atualizarDataSource()">
          <mat-datepicker-toggle matSuffix [for]="pickerInicial"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicial></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="filtro-data-section">
          <input matInput placeholder="Data final" [(ngModel)]="dataFinal" [matDatepicker]="pickerFinal" (dateChange)="atualizarDataSource()">
          <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
          <mat-datepicker #pickerFinal></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort matSortActive="data" matSortDirection="desc">

    <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let transacao"> {{transacao.id}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
      <td mat-cell *matCellDef="let transacao"> {{transacao.data | date: 'dd/MM/yyyy'}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
      <td mat-cell *matCellDef="let transacao" [ngClass]="obterClasseTransacao(transacao)"> {{transacao.valor | currencyFormat}} </td>
      <td mat-footer-cell *matFooterCellDef> {{ valorTotal | currencyFormat}} </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
      <td mat-cell *matCellDef="let transacao" > {{transacao.descricao}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
        <td mat-cell *matCellDef="let transacao" > {{ obterCategoria(transacao)}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="responsavel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsável </th>
      <td mat-cell *matCellDef="let transacao" > {{transacao.responsavel.nome}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="conta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Conta </th>
      <td mat-cell *matCellDef="let transacao" > {{ obterLabelConta(transacao) }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let transacao">
        <button matTooltip="Editar" mat-icon-button (click)="editarTransacao(transacao)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let transacao">
        <button matTooltip="Remover" mat-icon-button (click)="excluirTransacao(transacao)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let transacao; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
  </table>
  <button class="lado" mat-fab color="primary"  (click)="adicionarTransacao()"> <mat-icon>add</mat-icon></button>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
</div>
