<mat-form-field class='filtro'>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>

      <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="data" matSortDirection="desc">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let conta"> {{ conta.id }} </td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let conta"> {{ conta.nome }} </td>
          </ng-container>

          <ng-container matColumnDef="saldo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo/Limite </th>
            <td mat-cell *matCellDef="let conta"> {{conta.saldo | currencyFormat}} </td>
          </ng-container>

          <ng-container matColumnDef="responsavel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsável </th>
            <td mat-cell *matCellDef="let conta" > {{conta.responsavel.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="tipoConta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Conta </th>
            <td mat-cell *matCellDef="let conta" > {{ conta.tipoConta }} </td>
          </ng-container>

          <ng-container matColumnDef="expandirDetalhes">
            <td mat-cell *matCellDef="let conta" [attr.colspan]="5">
              <div class="detalhes" [@detailExpand]="conta === expandedElement ? 'expanded' : 'collapsed'">
                <h3 class="historico"> Histórico </h3>
                <table class="meses" style="width:20%">
                  <tr *ngFor="let mes of keys(meses) | slice:0:12;" [style.color]="mesAtual(mes)">
                    <th class="mes">  {{ meses[mes] }}: </th>
                    <th class="valor"> {{ totalEmMeses[mes] | currencyFormat }} </th> 
                  </tr>
                </table>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let conta">
              <button matTooltip="Editar" mat-icon-button (click)="editarConta(conta)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let conta">
              <button matTooltip="Remover" mat-icon-button (click)="desativarConta(conta)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let conta; columns: displayedColumns;"
            class="linha-fechada"
            [class.linha-expandida]="expandedElement === conta"
            (click)="expandirConta(conta)">
          </tr>
          <tr mat-row *matRowDef="let conta; columns: ['expandirDetalhes']" class="linha-detalhes"></tr>
        </table>
        <button class="lado" mat-fab color="primary"  (click)="adicionarConta()"> <mat-icon>add</mat-icon></button>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
      </div>
