<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode='side' [opened]="true">
    <div style="height: 100px; padding: 0px">
      <img width="200px" height="100px" alt="Angular Logo" src="assets/logos/Free_Sample_By_Wix.jpeg">
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item routerLink='home'>
        <mat-icon mat-list-icon>donut_large</mat-icon>
        <a matLine id="home_menu">Home</a>
      </mat-list-item>
      <mat-list-item routerLink='transacoes'>
        <mat-icon mat-list-icon>credit_card</mat-icon>
        <a matLine id="transacoes_menu">Transações</a>
      </mat-list-item>
      <mat-list-item routerLink='contas'>
        <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
        <a matLine id="contas_menu">Contas</a>
      </mat-list-item>
      <mat-list-item routerLink='responsaveis'>
          <mat-icon mat-list-icon>people</mat-icon>
          <a matLine id="responsaveis_menu">Responsáveis</a>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>BusinessControlV3</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="saveMenu" matTooltip="Salvar">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip={{currentUserName}}>
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #userMenu="matMenu">
  <a mat-menu-item routerLink='profile'>Perfil</a>
  <a mat-menu-item routerLink='help'>Ajuda</a>
  <a mat-menu-item (click)="logout()">Sair</a>
</mat-menu>

<mat-menu #saveMenu="matMenu">
  <a mat-menu-item (click)='download()'>Exportar</a>
  <a mat-menu-item (click)='upload()'>Importar</a>
</mat-menu>