<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let lancameto"> {{lancameto.id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
      <td mat-cell *matCellDef="let lancameto"> {{lancameto.data | date: 'dd/mm/yy'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
      <td mat-cell *matCellDef="let lancameto"> R$ {{lancameto.valor}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
      <td mat-cell *matCellDef="let lancameto" > {{lancameto.descricao}} </td>
    </ng-container>


    <!-- Color Column -->
    <ng-container matColumnDef="categoriaId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
      <td mat-cell *matCellDef="let lancameto" > {{lancameto.categoria.nome}} </td>
    </ng-container>


    <!-- Color Column -->
    <ng-container matColumnDef="responsavelId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsável </th>
      <td mat-cell *matCellDef="let lancameto" > {{lancameto.responsavel.nome}} </td>
    </ng-container>


    <!-- Color Column -->
    <ng-container matColumnDef="tipoPagamentoId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pagamento </th>
      <td mat-cell *matCellDef="let lancameto" > {{lancameto.conta.tipoCartao}} </td>
    </ng-container>


    <!-- Color Column -->
    <ng-container matColumnDef="tipoLancamentoId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lançamento </th>
      <td mat-cell *matCellDef="let lancameto" > {{lancameto.tipoLancamento}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let lancameto; columns: displayedColumns;">
    </tr>
  </table>
  <button class="lado" mat-fab color="primary"  (click)="adicionarLancamento()"> <mat-icon>add</mat-icon></button>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
